[Unit]
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
ExecStart=/usr/bin/env bslocal

[Install]
WantedBy=default.target
