[user]
name = Hikari Hayashi
email = rev.hikari@gmail.com

[alias]
st = status
br = branch
co = checkout
ci = commit

[core]
pager = delta

[pull]
ff = only

[init]
defaultBranch = main

[delta]
line-numbers = true
