[submodule "catppuccin/bat"]
  path = .local/share/dotfiles/repos/catppuccin-bat
  url = https://github.com/catppuccin/bat.git
[submodule "catppuccin/delta"]
  path = .local/share/dotfiles/repos/catppuccin-delta
  url = https://github.com/catppuccin/delta.git
