[Desktop Entry]
Type=Application
Name=Infinity Nikki
Exec=scrcpy --window-title='Infinity Nikki' --start-app='?Infinity Nikki' --gamepad=uhid --stay-awake --disable-screensaver
